-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: calendardb
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `tb_diary`
--

LOCK TABLES `tb_diary` WRITE;
/*!40000 ALTER TABLE `tb_diary` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_diary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tb_routine`
--

LOCK TABLES `tb_routine` WRITE;
/*!40000 ALTER TABLE `tb_routine` DISABLE KEYS */;
INSERT INTO `tb_routine` VALUES (2,21,'?쎌냽','2025-02-20'),(3,23,'諛붾튌','2025-02-17'),(4,23,'諛붿걯??,'2025-02-17');
/*!40000 ALTER TABLE `tb_routine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `tb_user`
--

LOCK TABLES `tb_user` WRITE;
/*!40000 ALTER TABLE `tb_user` DISABLE KEYS */;
INSERT INTO `tb_user` VALUES (21,'媛뺥븯??,'calendar','3919517166','kakao','lee001103@nate.com','http://localhost:8080/uploads/c17ddea0-1427-4fff-b65e-efde3d106315_ea97fccb-de64-4520-aec7-4b7d90465314.jpg'),(22,'媛뺥븯??,NULL,'BtWsIbRoYpny9GYgl51MJwEwDCmMDmMxupu5oQDO2Hg','naver','rkdgkdbs01@naver.com',NULL),(23,'媛뺥븯??,'589571','107266997861777995095','google','khy9072@gmail.com','http://localhost:8080/uploads/a292ae31-f634-409c-80c1-88d8ca7c509b_banner3.jpg');
/*!40000 ALTER TABLE `tb_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-17  7:35:14
